<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Use HSTS
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    Header set Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload"

    # Set Content-Security-Policy
    Header add Content-Security-Policy "default-src 'none'; img-src 'self'; font-src 'none'; script-src 'none'; script-src-elem 'none'; style-src 'none'; style-src-elem 'self'; base-uri 'none'; manifest-src 'none'; form-action 'none'; frame-ancestors 'none'; require-trusted-types-for 'script';"

    # Set Referrer-Policy
    Header always set Referrer-Policy: same-origin

    # Set Permissions-Policy
    Header always set Permissions-Policy "geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(),payment=()"

    # Set X-Content-Type-Options
    Header always set X-Content-Type-Options "nosniff"
    
    # Set X-Frame-Options
    Header always set X-Frame-Options "SAMEORIGIN"

    # Set X-XSS-Protection
    header always set X-XSS-Protection "1; mode=block"
    
    # Set Cache-Control for static assets
    <FilesMatch "\.(gif|ico|jpeg|jpg|JPG|png|webp|avif|tif|tiff|bmp|svg|css|js|woff|woff2|mp3|mp4)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>