---
import Default from "@layouts/Default.astro";
---

<Default title="Error 404">
	<section class="m-10">
		<h1 class="text-5xl">Error 404</h1>
		<p class="mt-5">Not found...</p>
	</section>
</Default>
