---
import Default from "@layouts/Default.astro";
---

<Default title="Error 500">
	<section class="m-10">
		<h1 class="text-5xl">Error 500</h1>
		<p class="mt-5">Internal Server Error...</p>
	</section>
</Default>
