---
import Default from "@layouts/Default.astro";
---

<Default title="Astro">
	<section class="m-10">
		<h1 class="text-5xl">Astro Template</h1>
		<p class="mt-5">Get started...</p>
	</section>
</Default>
