---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

import "@styles/site.css";

const { title } = Astro.props;
---

<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			name="description"
			content="Astro Template"
		/>
		<link
			rel="icon"
			href="/favicon/favicon.svg"
		/>

		<title>
			{title != null ? title + " – " : ""} Template
		</title>
	</head>

	<body>
		<Navbar />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
